{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/cristiano.jpg')}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Cristiano</h1>
          <span class="subheading">The Legend👑</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Cristiano Ronaldo is my favorite footballer and sportsperson. He inspires and motivates me. He has millions of
        fans around the world. He is the main reason why I started following and playing this beautiful game.</p>
      <p>Cristiano has many nicknames. Among fans, he is known by names such as Ronnie, CR7, Cristiano, Ronaldo etc. He
        is a global icon. There are many reason why I love and admire him.

        He is regarded by football enthusiasts and pundits as the greatest footballer of all time. He is the most
        complete player at the moment!

        Cristiano was born on 5 February, 1985 in Portugal. He had a very normal childhood and upbringing. Since
        childhood, he showed signs of brilliance. He impressed with his performances at amateur levels.

      </p>
      <p>His first step towards professional football came when he signed for Portuguese Club Sporting CP. While at
        Sporting, he was diagnosed with a medical condition called ‘Racing Heart’. This condition was capable of
        derailing his footballing career and dreams.

        A normal person would have been shattered on hearing this bad news. But Cristiano was determined to overcome
        this hurdle. With the help of his club, he underwent a corrective surgery.

        This was the first big hurdle he overcame in his career! Since then, he has faced various challenges and
        overcame them with sheer determination, hard work and confidence.

        At club level, he has represented famed clubs such as Manchester United and Real Madrid. He is a legend at both
        these clubs. This shows the level of greatness he has achieved!

      </p>
      <p>
       
        At both these clubs, he has amassed loads of trophies and individual accolades! League Trophies, Domestic Cups,
        Champions League, Ballon d’Or, top scorer awards – he has won it all!

        At International level, he has represented Portugal at various levels. The highlight of his International career
        came when he captained his side to Euro 2016 title, beating France in their home soil! This earned his the
        status of ‘Legend’ in Portugal.


      </p>
      <p>
        Some of his traits which I love are – mental toughness, discipline, work ethic, determination and confidence.
        His confidence is looked upon as arrogance.
        He also has good business acumen. Unlike other footballers, he also owns and runs many profitable businesses!


        On and Off the field, he is an icon and role model. He inspires millions of fans across the world. When he
        retires, he will go down as one of the greatest footballers of all time!</p>
    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}